/* Main Stylesheet - Design by Daniel Kapin */

/*
	1. Header
	2. Key Visual
	3. About
	4. Testimonials
	5. Footer
	6. Video Container
	7. Media Queries
*/

/* Header */

nav {
	padding: 0px;
	background-color: black !important;
}

nav a {
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

.navbar-nav {
	margin-left: 50px;
}

.navbar .btn {
	border: 1px solid black;
	color: black;
	background-color: #f6c110;
	font-family: 'Oswald', sans-serif;
}

.nav-item {
	margin-left: 50px;
}

.button-header {
	color: white;
	background-color: black;
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
}

#header-right-column {
	margin-top: 100px;
}

/* Key Visual */

.jumbotron {
	height: 600px;
	background-image: url('../images/backgroundimgw2.png');
	margin-bottom: 0px;
}


#first-block, #second-block {
	background-color: #f1f1f1;
}

#third-block, #fourth-block {
	background-color: #e4e4e4;
}

#faith-img {
	width: 95%;
}

/* About */

#about-wrapper { 
	height: 400px;
	background-image: url('../images/aboutbglg.png');
	background-size: cover;
}

#tripp-cutout {
	position: relative;
	top: 50px;
}

#parent-bio {
	display: flex;
	align-items: center;
}

#flexed-text {
	display: flex;
	justify-content: center;
	align-content: center;
	color: white;
	font-size: 22px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
}

/* Testimonials */

#testimonial-wrapper {
	display: flex;
	height: 400px;
	background: #F6C110;
	background-image: url('../images/lines.png');
}

#testimonial-quotes {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#testimonial-box {
	border: 5px solid black;
	height: 200px;
	width: 50%;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #F6C110;
}

.testimonial-name {
	font-style: italic;
}

.testimonial-quote {
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	margin: 10px 10px;
	text-align: center;
}

#testimonial-clients {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0px 50px;
}

.client-top {
	margin-bottom: 150px;
}

.client-bottom {
	margin-top: 150px;
}

.client img {
	border-radius: 100px;
	border: 7px solid black;
	transition: .3s;
}

.client-selected img {
	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	transform: translateY(-5px);
}

/* Footer */

#footer-row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	background-color: #343a40;
}

#footer-row p {
	color: white;
	margin-bottom: 0px;
}

/* Video */

#video-section {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.9);
	top: 0;
	left: 0;
	display: none;
	transition: all 1s;
	overflow: hidden;
}

#video-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

#exit {
	color: transparent;
	text-shadow: 0 0 0 rgb(255, 255, 255);
	position: absolute;
	top: 20%;
}

/* Media Queries */

@media (max-width: 1440px) {
	#about-wrapper {
		background-image: url('../images/aboutbgg.png');
		background-size: cover;
		height: 400px;
	}
}

@media (max-width: 1240px) {
	.testimonial-quote {
		font-size: 18px;
	}

	#testimonial-wrapper {
		flex-direction: column;
		height: 100%;
	}

	.client {
		margin-bottom: 30px;
	}

	.client-bottom {
		margin-top: 0px;
	}

	#testimonial-clients {
		margin: 0 auto;
		flex-direction: column;
		justify-content: inherit;
		margin-top: 30px;
	}
}

@media (max-width: 992px) {
	#video-button {
		display: none;
	}

	.nav-item {
		margin-left: 0px;
	}

	#header-left-column {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#header-right-column {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		flex-direction: column;
		margin-top: 0px;
	}

	.navbar-nav {
		margin-left: 0px;
	}

	li a {
		text-align: center;
	}
}

@media (max-width: 768px) {
	#faith-img {
		width: 50%;
		margin: 0 auto;
		display: block;
	}

	#header-right-column {
		margin-top: 10px;
		text-align: center;
	}

	#about-wrapper {
		height: 632px;
		position: relative;
	}

	#tripp-picture-container {
		height: 280px;
	}

	#tripp-cutout {
		margin: 0 auto;
		display: block;
	}

	#testimonial-quotes #testimonial-box {
		display: none;
	}

	#testimonial-wrapper img {
		display: block;
		margin: 0 auto;
	}

	.client #testimonial-box {
		margin: 10px auto;
		text-align: center;
		font-size: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.testimonial-quote {
		font-size: 15px;
	}

	.client-selected img {
		box-shadow: none;
		transform: initial;
	}
}